// **base model**
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    // background-color: rgb(255, 128, 123);
    background-color: rgb(163, 255, 255);
    border-radius: 20px;
    margin: 0 15%;
    font-family: poppins;
}
body{
    text-align: center;
    font-family: poppins;
}
.p-box{
    display: flex;
    // background-color: rgb(255, 128, 123);
    background-color: bisque;
    border: solid white;
    border-radius: 20px;
    max-width: 75%;
    margin: 20px;
}
p{
    font-family: poppins;
    padding: 1%;
}
// **Base model end**
// **navbar**
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    text-align: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    color: black;
    border: solid bisque;
    border-radius: 20px 20px 20px 20px;
    width: 100px;
    height: 30px;
}
a:hover{
    background-color: bisque;
    background-size: 120%;
    border-radius: 5px 5px 5px 5px transparent;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
}

// **blog**
.blog-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px 10%;
    flex-wrap: wrap;
    flex-direction: column;
}
.blog-box{
    font-family: poppins;
    // background-color: rgb(255, 128, 123);
    background-color: bisque;
    border: solid white;
    border-radius: 20px;
    max-width: 75%;
    margin: 20px;
}
.blog-img{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.blog-img img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.blog-text{
    display: flex;
    flex-direction: column;
}
.blog-text span{

    font-size: 0.9rem;
    font-style: italic;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 700;
}
.blog-text .blog-title:hover{
    color: rgb(163, 255, 255);
    transition: all ease 0.3s;
    cursor: pointer;
}
.blog-text p2{
    color: black;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 20px;
}
.blog-text a2{
    color: black;
    font-weight: bold;
}
.blog-text a2:hover{
    color: rgb(163, 255, 255);
    transition: all ease 0.3s;
    cursor: pointer;
}
// **blog end**
// **Contact**
.profiles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.profile-img{
    flex-direction: column;
    margin: 50px;
}
.no-wrap{
    font-weight: bold;
    white-space: nowrap;
}
// .profile-img{
//     border: solid bisque;
//     width: 75px;
//     height: 75px;
//     border-radius: 20px 20px 20px 20px;
// }